.container-dailyTransaction {
  padding: 0 15px;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

h2.text-center.my-4.py-2.font-weight-bold {
  font-size: 2rem; /* Increase font size */
  font-weight: 900; /* Make it bolder */
  color: #050505; /* Change text color */
  background-color: #f8f9fa; /* Add background color */
  padding: 10px;
  border-radius: 10px; /* Add border radius for rounded corners */
}

.container-dailyTransaction .card {
  margin-bottom: 20px;
}

.container-dailyTransaction .card-body {
  padding: 0;
}

.container-dailyTransaction .table {
  width: 100%;
  margin-bottom: 0;
  table-layout: fixed; /* Ensures equal column width */
}

.container-dailyTransaction .table td,
.container-dailyTransaction .table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  white-space: nowrap; /* Prevents text wrapping */
  overflow: hidden;
  text-overflow: ellipsis; /* Adds ellipsis if text overflows */
}

.scrollable-cell {
  max-height: 120px;
  overflow-y: auto;
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
  .container-dailyTransaction {
    padding: 0 12px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 992px) {
  .container-dailyTransaction {
    padding: 0 12px;
    margin-left: 0;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .container-dailyTransaction .table td,
  .container-dailyTransaction .table th {
    padding: 6px;
    font-size: 0.875rem;
  }
}

@media (max-width: 768px) {
  .container-dailyTransaction {
    padding: 0 8px;
    margin-left: 0;
  }

  .container-dailyTransaction .table td,
  .container-dailyTransaction .table th {
    padding: 5px;
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  .container-dailyTransaction {
    padding: 0 6px;
    margin-left: 0;
  }

  .container-dailyTransaction .table td,
  .container-dailyTransaction .table th {
    padding: 4px;
    font-size: 0.75rem;
  }

  .row {
    flex-direction: column;
  }
}
