/* DokanerSlip.css */

.dokaner-slip-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto; /* Center container horizontally */
}

.farmer-slip-btn {
  display: flex;
  justify-content: flex-end; /* Align button to the right */
  margin-bottom: 20px; /* Add margin to separate from the title */
}

.farmer-slip-btn .btn-success {
  padding: 14px 28px;  /* Increase padding for a larger button */
  font-size: 1.2rem;    /* Increase font size */
  width: 100%;          /* Make the button full width for responsiveness */
  max-width: 300px;     /* Set a maximum width for larger screens */
}

.dokaner-slip-title {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px 0;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dokaner-slip-table {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.table th {
  background-color: #007bff;
  color: white;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

@media (max-width: 768px) {
  .dokaner-slip-container {
    padding: 15px;
  }
  
  .farmer-slip-btn {
    justify-content: center;  /* Center the button on smaller screens */
  }

  .farmer-slip-btn .btn-success {
    width: auto;   /* Allow the button to adjust its width on smaller screens */
    max-width: 100%;
  }

  .dokaner-slip-title {
    font-size: 1.5rem;
  }
}
