.container2 {
  width: 100%;
  padding: 0 15px;
  margin: auto;
  max-width: 1200px;
}

.card2 {
  max-width: 500px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.card-body2 {
  padding: 20px;
}

.farmer-list-container {
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  padding: 20px;
  margin-top: 20px;
}

/* General styles for pagination controls */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-button {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

.page-button.active {
  background-color: #007bff;
  color: #fff;
}

.page-button:hover {
  background-color: #f1f1f1;
}

/* Responsive design for table and pagination */
.table-responsive {
  overflow-x: auto;
}


@media (max-width: 768px) {
  .card2 {
    max-width: 100%;
  }

  .card-body2 {
    padding: 15px;
  }

  .farmer-list-container {
    padding: 15px;
  }

  .pagination {
    flex-wrap: wrap;
  }

  .page-button {
    padding: 5px 10px;
  }

  .table {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .card-body2 {
    padding: 10px;
  }

  .farmer-list-container {
    padding: 10px;
  }

  .pagination {
    font-size: 12px;
  }

  .page-button {
    padding: 4px 8px;
  }

  .table {
    font-size: 12px;
  }
}
