@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Uloopet:wght@100..400&display=swap');

body {
  margin: 0;
  font-family: "Playwrite DK Uloopet", cursive;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;                                          
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


