@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');


/* Adjust paths and file names based on your actual downloaded files */

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;                                          
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


