.own-debt-tables {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.tables-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}
  
.debt-table {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
  
.debt-table h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
  
.table {
    width: 100%;
    border-collapse: collapse;
}
  
.table th,
.table td {
    padding: 10px;
    text-align: center; /* Center the text horizontally */
    vertical-align: middle; /* Center the text vertically */
    border-bottom: 1px solid #ddd;
}
  
.table tbody tr:hover {
    background-color: #f1f1f1;
}
